/* @font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSansJP-Thin.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSansJP-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSansJP-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSansJP-Medium.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSansJP-Regular.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSansJP-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSansJP-Bold.ttf") format("truetype");
    font-weight: 700;
} */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans";
    line-height: 150%;
}

main {
    padding: 2rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
    main {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

body {
    background-color: #f7f7f7;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
    }

    * {
        color: white;
    }
}