---
import { getCollection } from 'astro:content';
import ArtistRoundToggle from '../components/ArtistRoundToggle.astro';
import Layout from '../layouts/BaseLayout.astro';

const artists = (await getCollection("artists", ({ data }) => !data.draft))
                    .map(artist => artist.data);

---

<script>
    window.addEventListener("DOMContentLoaded", () => {
        function handleHash() {
            const artist = document.querySelector(window.location.hash);
            if (!artist) {
                return;
            }
            const card = artist.parentElement!.parentElement!;
            card.classList.add("active");
            card.previousElementSibling?.classList.add("active");
            (card.previousElementSibling as any).active = true;
            card.scrollIntoView({
                behavior: "smooth",
                block: "center"
            });
            // @ts-ignore TODO check
            history.replaceState(null, null, " ");
        }
        const buttons = document.querySelectorAll(".artist-toggle");
        buttons.forEach((button: any, index) => button.addEventListener("click", function (ev) {
            const onPhone = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0) <= 800;
            const row = Math.floor(index / (onPhone ? 2 : 3));
            // Only disable clicked
            if (button.active) {
                button.active = false;
                button.classList.remove("active");
                button.nextElementSibling.classList.remove("active");
                button.nextElementSibling.querySelectorAll(".visible").forEach(element => element.classList.remove("visible"));
            } 
            // Change active artist
            else {
                buttons.forEach((btn: any) => {
                    btn.classList.remove("active");
                    btn.active = false;
                    btn.nextElementSibling.classList.remove("active");
                    btn.nextElementSibling.querySelectorAll(".visible").forEach(element => element.classList.remove("visible"));
                });
                button.classList.add("active");
                button.active = true;
                button.nextElementSibling.classList.add("active");
                button.nextElementSibling.style.gridRow = `${row + 2} / ${row + 3}`;
                button.nextElementSibling.querySelectorAll(".release-img").forEach(element => element.classList.add("visible"));
            }
            ev.preventDefault();
        }));
        if (!!window.location.hash) {
            handleHash();
        }
    });
</script>
<Layout title="Fancy Spirits: Artists" route="artists">
    <div class="wrapper">
        <main>
            <h1><br></h1>
            <section>
                {artists.map(artist => {
                    return <ArtistRoundToggle artist={artist}></ArtistRoundToggle>;
                })}
            </section>
        </main>
    </div>
</Layout>
<style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    main {
        width: 80%;
        max-width: 1200px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        min-height: 100vh;
    }


    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
        margin-top: 1em;
    }

    @media screen and (max-width: 800px) {
        main {
            width: 95%;
        }

        section {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>