---
import Card from '../components/Card.astro';
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Fancy Spirits: Submit Demo" route="demo">
    <section class="wrapper">
		<h1>Submit your Demo now</h1>
		<main class="main">
            <Card class="">
                <iframe width="1450" height="800" frameborder="0" marginwidth="0" marginheight="0" scrolling="true" src="https://label49342.label-engine.com/demos?embed=1"></iframe>
            </Card>
        </main>
    </section>
</Layout>

<style>
    .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 1.75em;
	}

    main {
        width: fit-content;
    }

    h1 {
        font-family: "IBM Plex Sans";
        font-weight: 600;
        font-size: 2rem;
		width: 80%;
    }

    @media (max-width: 800px) {
        main {
            width: 95%;
        }

        main iframe {
            max-width: 100%;
        }
    }
</style>