---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Fancy Spirits: Submit Demo" route="demo">
    <form>
        <label>Insert Credit Card Number</label>
        <input />
        <input type="submit" />
    </form>
</Layout>