---
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';
import Layout from '../layouts/BaseLayout.astro';
import AboutLabel from '../content/other/about-label.mdx'
import RecentReleaseLayout from '../components/RecentRelease.astro';
import LabelLinks from '../content/other/label-links.mdx';
import ArtistsBar from '../components/ArtistsBar.astro';

const releases = (await getCollection("releases", ({ data }) => !data.draft))
					.map(({ data }) => data)
					.sort((a, b) => a.releaseDate < b.releaseDate ? 1 : -1);

const recentReleases = releases.slice(0, 3);
---
<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 1.75em;
	}

	.main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			"about about new-releases"
			"about about links"
			"artists-bar artists-bar artists-bar";

		grid-template-rows: fit-content min-content fit-content;
		gap: 1em;
		width: 85%;
	}

	h1 {
        font-family: "IBM Plex Sans";
        font-weight: 600;
        font-size: 2rem;
		width: 80%;
    }

	.about {
		grid-area: about;
	}

	.about .card-headers {
		font-weight: 600;
		font-size: 1.5rem !important;
		margin-bottom: 0.5em;
	}

	.demo-caption {
		display: block;
		text-align: center;
		margin-top: 1em;
	}

	.demo-btn-wrapper {
		display: flex;
		justify-content: center;
		margin-top: 1.5em;
	}

	.demo-btn {
		/* display: block; */
		color: white;
		padding: 0.75em 2em;
		background-color: #dd4435;
		border: none;
		border-radius: 1em;
		text-align: center;
		font-weight: 600;
		transition: 0.75s;
		box-shadow: 0.2em .2em 1em rgba(0, 0, 0, 0.1);
	}

	.demo-btn:hover {
		transform: translateY(-0.5em) scale(1.025);
		background-color: #ff4435;
	}

	.new-releases {
		grid-area: new-releases;
	}

	.new-releases .new-releases-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		gap: 1.25em;
	}

	.links {
		grid-area: links;
	}

	.links-wrap {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
	}

	.artists-bar {
		margin-top: 1em;
		grid-area: artists-bar;
	}

	.label-logo {
		max-width: 40%;
		margin-left: auto;
		max-height: 10em;
		object-fit: cover;
		margin-top: -2em; /* TODO: replace with different grafic - this one here has issues because it draws top lines  */
		float: right;
		margin-left: 1.5em;
		margin-bottom: 1.5em;
        padding: 10px; 
	}

	.label-logo-full {
		display: flex;
		justify-content: center;
	}

	.label-logo-full img {
		margin-top: 2em;
		max-height: 15em;
	}

	@media screen and (max-width: 800px) {
		.main {
			display: grid;
			/* grid-template-columns: repeat(1, 1fr); */
			grid-template-columns: 100%;
			grid-template-areas:
				"artists-bar"
				"about"
				"new-releases"
				"links";
			gap: 1em;
			padding-top: 0em;
			width: 95%;
		}

		.about {
			grid-area: about;
		}

		.new-releases {
			grid-area: new-releases;
		}

		.links {
			grid-area: links;
		}

		.artists-bar {
			grid-area: artists-bar;
			overflow-x: scroll;
		}

		.artists-bar.artists-bar::-webkit-scrollbar {
			display: none;
		}

		.img-wrap {
			margin-top: 1.5em;
		}

		.demo-btn:hover {
			transform: none;
		}
	}
	@media screen and (max-width: 1000px) and (min-width: 800px) {
		
		.wrapper {
			padding-top: 0em;
		}

		.main {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
				"about about about"
				"new-releases new-releases links"
				"artists-bar artists-bar artists-bar";
			gap: 1em;
			width: 90%;
		}

		.about {
			grid-area: about;
		}

		.new-releases {
			grid-area: new-releases;
		}

		.links {
			grid-area: links;
		}

		.artists-bar {
			grid-area: artists-bar;
		}
	}

	@media (prefers-color-scheme: dark) {
		.label-logo {
			filter: invert()
		}

		.label-logo-full {
			filter: invert()
		}
	}
</style>
<Layout title="Fancy Spirits">
	<section class="wrapper">
		<h1>Fancy Spirits</h1>
		<main class="main">
			<Card class="about" title="About our Label" overflow={true}>
				<div class="img-wrap">
					<img class="label-logo" src="/logos/Logo Squared.svg" />
				</div>
				<div class="about-label">
					<AboutLabel />
					<br>
					<strong class="demo-caption">You want to join us on our journey and be part of the Fancy Spirits Community?</strong>
					<div class="demo-btn-wrapper">
						<a href="/demo" class="demo-btn">
							Submit a Demo
						</a>
					</div>
				</div>
				<div class="label-logo-full">
					<img src="/logos/Logo Full.png">
				</div>
			</Card>
			<Card class="new-releases" title="Recent Releases">
				<div class="new-releases-wrap">
					{recentReleases.map(release => 
					<RecentReleaseLayout release={release} />
					)}
				</div>
			</Card>
			<Card class="links" title="Links">
				<div class="links-wrap">
					<LabelLinks />
				</div>
			</Card>
			<section class="artists-bar">
				<ArtistsBar></ArtistsBar>
			</section>
		</main>
	</section>
</Layout>
