---
import ArtistRound from "../components/ArtistRound.astro";
import { ArtistDetailed } from "../Types";

const artists = await Astro.glob<ArtistDetailed>("../contentData/artists/**.mdx").then(
    artists => artists.map(artists => artists.frontmatter)
    .filter(artist => !(artist as any).draft)
);
---
<ul>
    {artists.map(artist => <li><ArtistRound artist={artist}></ArtistRound></li>)}
</ul>
<style>
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 1.5em;
    }

    li {
        margin-right: 1.5em;
        max-width: 25%
    }

    @media screen and (max-width: 800px) {
        ul {
            flex-wrap: nowrap;
            overflow-x: hidden;
            padding-left: -10em;
            width: fit-content;
        }

        li {
            
        }
    }
</style>