---
export interface Props {
    title?: string;
    class: string;
    overflow?: boolean;
};

const { title, class: className, overflow = false } = Astro.props;
---
<style>
    section {
        padding: 1.75em;
        /* padding: 1.5em; */
        border-radius: 1em;
        background: #ffffff;
        box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12),
            -1px -1px 4px rgba(0,0,0,0.1);
        transition: 1s ease-in-out;
        display: grid;
        grid-template-rows: min-content 1fr;
    }

    /* section:hover {
        box-shadow: -15px -15px 22px rgba(255,255,255,0.5),
            15 15px 22px rgba(70,70,70,0.12),
            -2px -2px 6px rgba(0,0,0,0.1);
        transform: scale(100.125%, 100.125%);
    } */

    article {
        align-self: center;
        width: 100%;
        max-width: 100%;
        word-wrap: break-word;
    }

    article.overflow {
        overflow: hidden;
    }

    h3 {
        font-family: "IBM Plex Sans";
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 0.75em;
    }

    @media (prefers-color-scheme: dark) {
        section {
            background: #1a1a1a;
            box-shadow: -10px -10px 15px rgba(0,0,0,0.5),
                10px 10px 15px rgba(70,70,70,0.12),
                -1px -1px 4px rgba(0,0,0,0.1);
        }

        /* section:hover {
            box-shadow: -20px -20px 30px rgba(0,0,0,0.5),
            20px 20px 30px rgba(70,70,70,0.12),
            -2px -2px 8px rgba(0,0,0,0.1);
        } */
    }
</style>
<section class={className}> 
    <h3>{title}</h3>
    <article class:list={[{"overflow": overflow}]}>
        <slot />
    </article>
</section>