---

export interface Props {
    class: string;
    textColor: string;
}

const {class: className, textColor} = Astro.props;
---

<span class={className}><slot/></span>
<style define:vars={{textColor}}>
    span {
        color: var(--textColor);
    }
</style>