---
const year = new Date().getFullYear();
---
<footer>
    <span>&copy; {year} Fancy Spirits</span>
    <a href="/impressum">Imprint | Privacy Policy</a>
</footer>
<style>
    footer {
        background-color: black;
        color: white;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem 4rem;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0.8em;
        /* margin-top: 19rem; */
        position: fixed;
    }

    main {
            flex: 1; /* This allows the main content to expand to fill remaining space */
        }

    @media screen and (max-width: 800px) {
        footer {
            position: inherit;
            margin-top: 0;
        }
    }

    @media (prefers-color-scheme: dark) {
        footer {
            background-color: #191919;
        }
    }
</style>