---

export interface Props {
	route?: string;
}

const { route } = Astro.props;
---
<nav>
    <ul>
        <li class="logo">
            <a href="/"><img src="/logos/Logo Squared.png" alt="FS"></a>
        </li>
        <li class={!route || route === "" ? "active" : ""}>
            <a href="/"><p>Home</p></a>
        </li>
        <li class={route === "artists" ? "active" : ""}>
            <a href="/artists"><p>Artists</p></a>
        </li>
        <li class={route === "releases" ? "active" : ""}>
            <a href="/releases"><p>Releases</p></a>
        </li>
        <li class={route === "demo" ? "active" : ""}>
            <a href="/demo"><p>Demo</p></a>
        </li>
    </ul>
</nav>
<style>

    .logo {
        padding: 0 !important;
    }

    img {
        filter: invert();
        width: 2em;
        transform: scale(1.3);
    }

    li:hover img, li:hover.active {
        transition: 0.5s;
        filter: none;
    }

    nav {
        height: 4rem;
        background-color: black;
        color: white;
        z-index: 1000;
        overflow: hidden;
        position: fixed;
        /* top: 0; */
        width: 100%;
        align-items: stretch;
        overflow: hidden;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: stretch;
        height: 100%;
    }

    li {
        transition: 0.5s;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    li:hover, li.active {
        background-color: #f9f9f9;
        color: black;
    }

    li > a {
        font-family: "IBM Plex Sans";
        font-weight: 400;
        height: 100%;
        width: 100%;
        padding: 1em 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li > a:hover, li.active > a {
        font-weight: 600;
    }

    @media screen and (max-width: 1000px) and (min-width: 800px) {
        li > a {
            padding: 0.5em 1em;
        }

        nav {
            height: 3.5rem;
        }
    }

    @media screen and (max-width: 800px) {
        li > a {
            padding: 0.5em 1em;
        }

        li:first-child {
            display: none;
        }
        
        ul {
            justify-content: flex-start;
        }

        nav {
            height: 3.5rem;
        }
    }

    @media (prefers-color-scheme: dark) {
        nav {
            background-color: #191919;
            /* border-bottom: 5px solid #e0e0e0; */
        }

        li:hover, li.active {
            background-color: #555555;
        }

        li:hover img {
            filter: invert()
        }
    }
</style>